.header {
    background: $dark-grey;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__title {
   color: white;
   font-family: 'Rajdhani', sans-serif;
   text-decoration: none;
   h1 {
       margin: 0;
   } 
}