.list-header {
    background: $dark-grey;
    border: 1px solid lighten($grey, 7%);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-body {
   margin-bottom: $m-size;
   @media (min-width: $desktop-breakpoint) {
       margin-bottom: $l-size;
   } 
}

.list-item {
    background: $grey;
    border: 1px solid lighten($grey, 7%);
    border-top: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $dark-grey;
        border: none;
        text-shadow: 0.01em 0.01em 0.09em white;
        .list-item__data {
            color: $bright-green;
            
            text-shadow: 0.01em 0.01em 0.09em;
        }
    }
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item__message {
    align-items: center;
    color: $light-grey;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
    font-size: 3rem;
}

.list-item__sub-title {
    color: $off-white;
    font-size: $font-size-small;
}

.list-item__sub-title::before {
    content: "\2022";  
    color: $bright-green; 
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
}

.list-item__data {
    margin: $s-size 0 0 0;
   
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}

.note {
    margin: 0 0 0 2em;
    font-size: .7em;
    color: $off-white;
}