* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: whitesmoke;
  background-color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.cred, .cred a, .cred a:hover, .cred a:visited {
  color: black;
  text-align: right;
  font-size: .5em;
}

