// Colors
$dark-grey: #1f1f1f;
$grey:#333;
$light-grey: #444;
$blue: rgb(18, 145, 248);
$bright-green: #31b124;
$off-white: #cdd2cc;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
